.row{
    margin-left: 20px;
    color: white;
}

.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
 padding: 20px;



}

.row-posters::-webkit-scrollbar{
    display: none; 
}



.row-poster{

    object-fit: contain;
    width:100%;
    max-height: 200px;
     transition: transform 450ms;
     margin-right: 10px;
     cursor: pointer;
 

}

.row-poster:hover{
    transform: scale(1.08);
}

.row-poster_large{
    max-height: 250px;

}
.row-poster_large:hover{
    transform: scale(1.09);


}